<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ariana Questionnaire</title>
</head>
<body>
    <div id="id_app">
        <transition name="fade">
            <loading-screen v-if="is_loading"></loading-screen>
        </transition>
        <!--<button id="show-modal" @click="show_modal = true">Show Modal</button>-->
        <!-- use the modal component, pass in the prop -->
        <!--<modal v-if="show_modal" @close="show_modal = false">-->

        <el-container v-if="is_loading == false">
          <el-header>
              <div :class="pageHeading">
                  {{ page_heading }}
              </div>
          </el-header>
          <el-main>
              <el-row>
                  <el-col :span="9">
                      <el-aside>
                          <ul class="left-menu">
                              <li v-bind:class="{selected: content_area == 'list'}">
                                  <a href="#">Select Questionnaire</a>
                                  <hr/>
                                  <ul class="left-menu">
                                    <li v-for="item in q_list" style="cursor: pointer;" v-on:click="handle_questionnaire_click(item.id)"><a>{{ item.text }}</a></li>
                                  </ul>
                              </li>
                          </ul>
                          <ul class="pagination">
                              <li v-if="q_list_prev == true" class="left" v-on:click.prevent="get_all_questionnaire('prev')"><a href="#"><< Prev</a></li>
                              <li v-if="q_list_next == true" class="right" v-on:click.prevent="get_all_questionnaire('next')"><a href="#">Next >></a></li>
                          </ul>
                      </el-aside>
                  </el-col>
                  <el-col :span="15" class="right-side">
                      <el-row>
                        <el-col :span="24">
                            <div id="id_chat_detail">
                                <div class="chat-row" v-for="item in questions" style="margin-bottom: 10px;" v-html="item">
                                </div>
                            </div>
                        </el-col>
                      </el-row>
                      <el-row v-if="board_loaded == true">
                          <rl-col>
                              <el-form ref="form" name="q_submit" :model="form_data" id="id_q_form" method="POST" enctype="multipart/form-data" action="#" v-on:submit.prevent="submit_q_form()">
                                <el-form-item :required="true">
                                    <el-button type="primary" v-on:click.prevent="submit_q_form()" style="float: right; width: 200px;">Submit</el-button>
                                    <el-input placeholder="Type your response" v-model="form_data.response" name="response" style="margin-right: 5px; width: 400px;float: right;height: 60px!important;"></el-input>

                                </el-form-item>
                            </el-form>
                          </rl-col>
                      </el-row>
                  </el-col>
              </el-row>
          </el-main>
          <el-footer>
                <hr/>
                <div>@ Copyright 2017</div>
          </el-footer>
        </el-container>
    </div>
</body>
<template id="id_response_form">
<el-form-item :label="form_element.label">
    <el-input :name="form_element.name"></el-input>
</el-form-item>
</template>
</html>
<style type="text/css">
    @import url("static/css/vendor/index.css");
</style>
<link rel="stylesheet" href="static/css/app.css"/>
<script src="static/js/vendor/vue.js"></script>
<script src="static/js/vendor/axios.min.js"></script>
<script src="static/js/vendor/index.js"></script>
<script src="static/js/vendor/qs.js"></script>
<script src="static/js/app.js"></script>

