body {
    margin: 0;
    background-color: darkcyan;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .App-heading {
    text-align: left;
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

.main-container{
    width: 100%;
}

.left-container{
    width: 30%;
    float: left;
}

.right-container{
    width: 60%;
    float: left;
}

.left-menu {
    list-style: none;
    padding-right: 20px !important;
}
.left-menu li {
    list-style-type: none;
    padding: 10px;
    text-align: left;
    background-color: teal;
    margin-bottom: 3px;
}
.left-menu li a {
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.left-menu li a:hover {
    text-decoration: underline;
    color:white;
}

#id_chat_detail {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #1b6d85;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.chat-row, .chat-row-ariana, .chat-row-user {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
}

.chat-row-ariana{
    color: #aecee8;
}

.chat-row-user{
    color: white;
}

ul.pagination {
    list-style: none;
    padding-right: 20px !important;
    text-align: center;
}

ul.pagination li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

ul.pagination li a {
    color: white;
}

.ariana-chat-row {
    color: #61dafb;
    text-align: left;
}

.system-chat-row {
    color: red;
    text-align: left;
}

.user-chat-row {
    color: yellowgreen;
    text-align: left;
}

.qresponse-post-form {
    width: 100%;
    margin-left: 0%;
    text-align: center;
    display: block;
    float: left;
}

.qresponse-post-form input {
    min-width: 300px;
    padding: 5px;
}

.qresponse-post-form button {
    min-width: 100px;
    padding: 5px;
}