body {
    margin: 0;
    background-color: darkcyan;
}

#loading {
    background-color: #63ab97;
    color:white;
    font-size:32px;
    padding-top: 10vh;
    height: 100vh;
    text-align:center
}

title{
    color: white;
    font-size: 20px;
}
#id_app{
    background-color: darkcyan;
}
.page-heading {
    padding: 20px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    font-size: 30px;
    border-bottom: 1px solid gray;
}
.empty-content {
    padding: 20px !important;
}
.left-menu {
    list-style: none;
    padding-right: 20px !important;
}
.left-menu li {
    list-style-type: none;
    padding: 10px;
}
.left-menu li a {
    text-decoration: none;
    color: #000;
}
.left-menu li a:hover {
    text-decoration: underline;
    color: #000;
}
.right-side {
    min-height: 400px !important;
    border-left: 1px solid #adadad;
    padding: 20px !important;
}
.list-table {
    width: 100% !important;
}
.list-table tr td, .list-table tr th {
    width: 200px !important;
    padding: 10px !important;
}
.list-table tr th {
    border-bottom: 1px solid #2e6da4;
    text-align: left !important;
    font-weight: bold !important;
}
.selected {
    background-color: #42b983;
}
.selected a{
    font-weight: bold !important;
    color: white !important;
}
.form-title {
    padding-left: 20px !important;
}

.pagination {
    text-align: center;
}

.pagination li {
    list-style-type: none;
    padding: 10px;
    display: inline;
}
.pagination li.left{
    float: left;
    margin-left: 5px;
}
.pagination li.right{
    float: right;
    margin-right: 20px;
}
.pagination li a {
    text-decoration: none;
    color: #222222;
}
.pagination li a:hover {
    text-decoration: underline;
    color: #000;
}

#id_chat_detail {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #1b6d85;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}